@import 'baseStyle.scss';

.info-form {
  border: 1px solid $primary-color;
  padding: 10px;
  margin-top: 20px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin: 0;
    color: $primary-color;
    font-size: 18px;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;

    label {
      font-size: 16px;
      margin: 10px 0 5px;
    }

    input, textarea {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      border: 1px solid $primary-color;
      box-sizing: border-box;
    }

    .send-button {
      width: 100%;
      max-width: 200px;
      padding: 10px;
      background-color: $primary-color;
      color: #fff;
      border: none;
      cursor: pointer;
      font-size: 16px;
      margin: 10px auto;
      text-align: center;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }
}

@media (max-width: 768px) {
  .info-form {
    padding: 5px;

    form {
      max-width: 100%;

      label {
        font-size: 14px;
      }

      input, textarea {
        margin: 5px 0;
      }

      .send-button {
        width: 100%;
        max-width: 150px;
        font-size: 20px;
      }
    }
  }
}
